:root {
    --harvest-green: #4CAF50;
    --seed-yellow: #FFC107;
    --earth-gray: #343A40;
    --cream-beige: #F8F9FA;
    --poppy-red: #E74C3C;
}

body {
    background-color: var(--cream-beige) !important;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-container {
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding: 15px;
}

.card-login {
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary-custom {
    background-color: var(--harvest-green);
    border-color: var(--harvest-green);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary-custom:hover {
    background-color: white;
    border-color: var(--harvest-green);
    color: var(--harvest-green) ;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.form-control:focus {
    border-color: var(--harvest-green);
    box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.25);
}
