{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if object %}Modifier la Parcelle{% else %}Ajouter une Parcelle{% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow rounded-4 border-0">
            <div class="card-body p-4 p-md-5">
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.field.widget.input_type == "checkbox" %}
                            <div class="form-check pt-3 mb-4">
                                {{ field }}
                                <label class="form-check-label fw-bold text-charcoal-gray" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </div>
                        {% else %}
                            <div class="form-floating mb-4">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                        {% endif %}

                        {% for error in field.errors %}
                            <div class="text-danger small mt-1">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}

                    <div class="d-grid gap-2 mt-5">
                        <button type="submit" class="btn btn-primary-custom shadow-sm">
                            {% if object %}Enregistrer les Modifications{% else %}Créer la Parcelle{% endif %}
                        </button>
                        <a href="{% url 'parcelle_list' %}" class="btn btn-outline-secondary">Annuler et Retourner à la Liste</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}