@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-primary: #16A34A;
  --color-brand-secondary: #84CC16;
  --color-brand-accent: #2563EB;
  --color-brand-highlight: #EAB308;
  --color-brand-dark: #1F2937;
  --color-brand-light: #F8FAFC;
  --shadow-soft: 0 10px 40px -10px rgba(0, 0, 0, 0.08);
  --shadow-glow: 0 0 20px rgba(22, 163, 74, 0.3);
  --font-sans: var(--font-inter);
}
