<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}"><i class="fas fa-seedling"></i> Agri-Androndra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'parcelle_list' %}"><i class="fas fa-th-large"></i> Parcelles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'culture_list' %}"><i class="fas fa-seedling"></i> Cultures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plantation_list' %}"><i class="fas fa-plus"></i> Plantations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-search-plus"></i> Suivis</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Mon Profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form method="post" action="{% url 'logout' %}" style="margin: 0; padding: 0;">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">
                                            Déconnexion
                                        </button>
                                    </form>
                                </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>